In [1]:
import pandas as pd
import pprint
pp = pprint.PrettyPrinter(indent=4)

In [2]:
def output_challenge_eliminated_df():
    with open("challenge-eliminated-list.txt") as f:
        content = f.readlines()
    content = [x.strip().split(',') for x in content]
    
    # Clean Text
    for i in range(len(content) // 2 + 1):
        content[i][0] = 'Tribe ' + content[i][0]
    for i in range(len(content)):
        content[i][1] = content[i][1].title()[1:len(content[i][1]) - 1]
    for i in range(len(content) // 2 + 1, len(content)):
        content[i][0] = content[i][0].title()[1:len(content[i][0]) - 1]

    df = pd.DataFrame(content, columns=['Challenge Winner', 'Eliminated Contestant'])
    return df

def output_contestant_resumes_df():
    with open("contestant-resumes-list.txt") as f:
        content = f.readlines()
    content
    content = [x.strip().split(',') for x in content]

    df = pd.DataFrame(content, columns=['Contestant', 'Tribe', 'Finish', '# Individual Challenges Won', 'Physical'])
    return df

def output_voting_histories_df():
    with open("voting-histories-list.txt") as f:
        content = f.readlines()
    content = [x.strip().split(',') for x in content]
    target_length = len(content[0])
    rows = []

    # pad rows
    for i in range(len(content)):
        length = len(content[i])
        content[i].extend([""] * (target_length - length))
        rows.append(content[i].pop(0))
    
    cols = rows[:1:-1]
    
    for i in range(len(content)):
        for j in range(len(content[0])):
            if content[i][j] == '-1':
                content[i][j] = '-'    
    
    for j in range(len(content[0])):
        d = {}
        for i in range(len(content)):
            if content[i][j] in d:
                d[content[i][j]] += 1
            else:
                d[content[i][j]] = 1
        d.pop('-', None)
        d.pop('', None)
        vals = [str(s) for s in reversed(sorted(d.values()))]
        cols[j] += ' (' + ('-').join(vals) + ')'
        
    df = pd.DataFrame(content, index=rows, columns=cols)
    return df

In [3]:
output_challenge_eliminated_df()

   Challenge Winner Eliminated Contestant
0           Tribe 0         Contestant 14
1           Tribe 1          Contestant 0
2           Tribe 1          Contestant 8
3           Tribe 1          Contestant 2
4           Tribe 0         Contestant 10
5           Tribe 1          Contestant 6
6           Tribe 1          Contestant 4
7           Tribe 0         Contestant 11
8           Tribe 0         Contestant 12
9           Tribe 1          Contestant 7
10    Contestant 16         Contestant 15
11    Contestant 13          Contestant 9
12     Contestant 1          Contestant 3
13    Contestant 13         Contestant 16
14    Contestant 19         Contestant 17
15    Contestant 19         Contestant 18
16     Contestant 5          Contestant 1
17    Contestant 19          Contestant 5

In [4]:
output_contestant_resumes_df()

   Contestant Tribe Finish # Individual Challenges Won Physical
0          14     1     20                           0        4
1           0     0     19                           0        7
2           8     0     18                           0        1
3           2     0     17                           0        1
4          10     1     16                           0        2
5           6     0     15                           0        4
6           4     0     14                           0        7
7          11     1     13                           0        6
8          12     1     12                           0        8
9           7     0     11                           0        1
10         15     1     10                           0        3
11          9     0      9                           0        2
12          3     0      8                           0        9
13         16     1      7                           1        5
14         17     1      6                           0        2
15         18     1      5                           0        9
16          1     0      4                           1        2
17          5     0      3                           1        8
18         19     1      0                           3        3
19         13     1      0                           2        8

In [5]:
output_voting_histories_df()

,14 (2-2-1-1-1-1-1-1),0 (5-3-1-1),8 (2-2-1-1-1-1-1),2 (2-2-2-1-1),10 (3-2-2-1-1),6 (2-2-1-1-1),4 (3-1-1-1),11 (4-2-1-1),12 (3-1-1-1-1),7 (3-2),15 (3-2-2-1-1-1),9 (3-2-2-2),3 (3-2-2-1),16 (3-1-1-1-1),17 (3-2-1),18 (2-1-1-1),1 (2-1-1),5 (2-1)
13,16,-,-,-,10,-,-,11,12,-,15,9,17,16,17,18,1,5
19,14,-,-,-,15,-,-,11,12,-,3,9,3,18,18,18,1,5
5,-,0,8,7,-,4,4,-,-,7,18,17,19,16,18,13,13,13
1,-,0,3,9,-,6,3,-,-,7,5,3,3,5,17,5,19,
18,13,-,-,-,10,-,-,11,19,-,15,3,17,16,17,1,,
17,14,-,-,-,11,-,-,16,12,-,9,19,19,19,1,,,
16,15,-,-,-,18,-,-,18,13,-,3,9,3,1,,,,
3,-,0,8,2,-,7,4,-,-,7,19,17,18,,,,,
9,-,4,4,2,-,7,1,-,-,1,15,19,,,,,,
15,12,-,-,-,10,-,-,18,18,-,18,,,,,,,
7,-,1,6,1,-,1,4,-,-,1,,,,,,,,
12,17,-,-,-,15,-,-,11,16,,,,,,,,,
11,17,-,-,-,12,-,-,17,,,,,,,,,,
4,-,0,9,5,-,6,9,,,,,,,,,,,
6,-,0,4,7,-,3,,,,,,,,,,,,
10,18,-,-,-,12,,,,,,,,,,,,,
2,-,9,7,5,,,,,,,,,,,,,,
8,-,9,1,,,,,,,,,,,,,,,
0,-,9,,,,,,,,,,,,,,,,
14,19,,,,,,,,,,,,,,,,,