In [25]:
import csv
import pandas as pd
import pprint
pp = pprint.PrettyPrinter(indent=4)

In [26]:
pd.read_csv("challenge-eliminated-list.csv")

   challenge-winner eliminated-contestant
0                 0       (contestant 16)
1                 0       (contestant 18)
2                 0       (contestant 13)
3                 1        (contestant 3)
4                 0       (contestant 14)
5                 1        (contestant 8)
6                 0       (contestant 15)
7                 1        (contestant 0)
8                 1        (contestant 1)
9                 1        (contestant 7)
10   (contestant 2)       (contestant 17)
11   (contestant 2)        (contestant 4)
12   (contestant 9)       (contestant 19)
13  (contestant 12)       (contestant 10)
14   (contestant 9)       (contestant 11)
15   (contestant 2)        (contestant 9)
16   (contestant 2)       (contestant 12)
17   (contestant 5)        (contestant 6)

In [27]:
pd.read_csv("contestant-resumes-list.csv")

    contestant  tribe  finish  individual-challenge-wins  physical
0           16      1      20                          0         1
1           18      1      19                          0         3
2           13      1      18                          0         3
3            3      0      17                          0         5
4           14      1      16                          0         4
5            8      0      15                          0         4
6           15      1      14                          0         1
7            0      0      13                          0         3
8            1      0      12                          0         3
9            7      0      11                          0         6
10          17      1      10                          0         7
11           4      0       9                          0         6
12          19      1       8                          0         8
13          10      1       7                          0         5
14          11      1       6                          0         2
15           9      0       5                          2        -2
16          12      1       4                          1         0
17           6      0       3                          0         8
18           2      0       0                          4         6
19           5      0       0                          1         4

In [28]:
pd.read_csv("voting-histories.csv", index_col='contestant', na_values=-1).fillna('')

,16,18,13,3,14,8,15,0,1,7,17,4,19,10,11,9,12,6,2,5
contestant,,,,,,,,,,,,,,,,,,,,
5,,,,1,,8,,4,1,7,6,19,6,6,11,12,12,6,,
2,,,,1,,7,,1,7,4,6,10,11,11,6,9,5,6,,
6,,,,4,,7,,2,1,7,17,11,10,10,11,9,12,2,,
12,16,18,10,,11,,15,,,,19,6,19,2,6,9,6,,,
9,,,,5,,1,,2,2,5,17,4,11,10,11,5,,,,
11,15,15,12,,14,,17,,,,17,4,19,10,2,,,,,
10,15,18,14,,19,,15,,,,19,5,19,6,,,,,,
19,16,17,13,,17,,10,,,,10,5,5,,,,,,,
4,,,,5,,2,,0,9,7,12,10,,,,,,,,
17,16,15,13,,14,,15,,,,11,,,,,,,,,
7,,,,9,,5,,0,1,5,,,,,,,,,,
1,,,,3,,6,,9,5,,,,,,,,,,,
0,,,,3,,8,,7,,,,,,,,,,,,
15,16,12,13,,14,,12,,,,,,,,,,,,,
8,,,,3,,4,,,,,,,,,,,,,,
14,17,18,13,,17,,,,,,,,,,,,,,,
3,,,,4,,,,,,,,,,,,,,,,
13,15,11,11,,,,,,,,,,,,,,,,,
18,17,17,,,,,,,,,,,,,,,,,,
16,12,,,,,,,,,,,,,,,,,,,

In [18]:
pd.read_csv?